.financing {
	opacity: 0;
	animation: animateFinancing 0.5s forwards;
	padding: 95px 25px 0 25px;
}

@keyframes animateFinancing {
	to {
		opacity: 1;
	}
}

@media screen and (width < 808px) {
	.financing {
		padding: 85px 15px 0 15px;
	}
}
