.menu {
	position: fixed;
	top: 70px;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	background: var(--bg-clr);
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s 0.6s;
}

.menu__nav {
	display: flex;
	flex-direction: column;
}

.menu__link {
	font-size: 1.5rem;
	border-bottom: 3px dashed rgba(255, 255, 255, 0.1);
	padding: 10px 0;
	transition: all 0.3s;

	&:hover {
		border-bottom: 3px dashed #fff;
	}
}

.menu__link--active {
	border-bottom: 3px dashed #fff;
}

.menu__inner {
	height: calc(100svh - 70px);
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s;
	padding: 0 15px 15px 15px;
}

.menu__inner--active {
	opacity: 1 !important;
	pointer-events: all !important;
	transition: all 0.3s 0.6s;
}

.menu--active {
	opacity: 1;
	pointer-events: all;
	transition: all 0.3s;
}
