.about-us {
	scroll-margin-top: 70px;
}

.about-us__title {
	font-size: clamp(2rem, 4vw, 4rem) !important;
	padding: 25px 0;
}

.about-us__cards {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 25px;
}

.about-us__card {
	padding: 15px;
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.1);
	min-height: 200px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.about-us__card-title {
	font-size: 1.5rem;
}

.about-us__card-counter {
	align-self: flex-end;
	font-size: 4rem;
	font-weight: 600;
}

.about-us__card-counter-char {
	opacity: 0;
	transition: all 0.3s ease-in;
}

.about-us__card-counter-char--active {
	opacity: 1;
}

@media screen and (width <=1200px) {
	.about-us__cards {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (width <= 860px) {
	.about-us__title {
		padding: 15px 0;
	}

	.about-us__cards {
		grid-template-columns: repeat(2, 1fr);
		gap: 15px;
	}
}

@media screen and (width <= 600px) {
	.about-us__cards {
		grid-template-columns: repeat(1, 1fr);
	}
}
