@use "./../../scss/mixins" as *;

@keyframes animateHowItWorks {
	to {
		opacity: 1;
	}
}

.how-it-works__title {
	margin-bottom: 25px;
	opacity: 0;
	animation: animateHowItWorks 0.5s forwards;
}

.how-it-works__top {
	position: relative;
	min-height: calc(100vh - 95px);
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.how-it-works__top-title {
	font-size: clamp(2rem, 4vw, 4rem) !important;
	font-weight: 500;
	opacity: 0;
	animation: animateHowItWorks 0.5s forwards;
}

.how-it-works__top-container {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	flex-direction: column;
	text-align: end;
	align-self: flex-end;
	row-gap: 15px;
	background: rgba(255, 255, 255, 0.1);
	max-width: 500px;
	padding: 15px;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	border-radius: 10px;
	margin-bottom: 15px;
	opacity: 0;
	animation: animateHome 0.5s forwards;
}

.how-it-works__top-container-title {
	font-size: clamp(1rem, 4vw, 1.25rem);
}

.how-it-works__top-btn-container {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	gap: 3px;
}

.how-it-works__link {
	padding: 10px;
	border-radius: 5px;
	background: #fff;
	color: #000;
	transition: background-color 0.3s, color 0.3s;

	&:hover {
		background: rgba(255, 255, 255, 0.1);
		color: #fff;
	}

	&:nth-of-type(2) {
		background: #000;
		color: #fff;
		@include flex-center;
		column-gap: 3px;
	}
}

.how-it-works__img {
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	max-width: 800px;
	opacity: 0;
	animation: animateHowItWorks 0.5s forwards;
}

.process-container {
	margin: 95px 0 25px;
}

.process__top {
	height: calc(50svh - 95px);
}

.process__title {
	font-size: clamp(2rem, 4vw, 4rem) !important;
	font-weight: 500;
	scroll-margin-top: 95px;
}

.process__outer {
	position: relative;
	width: 100%;
}

.process__outer-bottom {
	width: 100%;
	position: absolute;
	height: 50svh;
}

.process {
	position: relative;
	width: 10px;
	min-height: 1290px;
	background: rgba(255, 255, 255, 0.1);
	margin: auto;
	border-radius: 5px;
}

.process__inner {
	position: absolute;
	border-radius: 5px;
	width: calc(100%);
	height: 0%;
	background: white;
}

.process__card1 {
	position: absolute;
	right: 0;
	width: calc(50% - 20px);
	background: rgba(255, 255, 255, 0.1);
	padding: 10px;
	border-radius: 10px;
}

.process__card2 {
	position: absolute;
	left: 0;
	top: calc(300px + 30px);
	width: calc(50% - 20px);
	background: rgba(255, 255, 255, 0.1);
	padding: 10px;
	border-radius: 10px;
}

.process__card3 {
	position: absolute;
	top: calc(600px + 60px);
	right: 0;
	width: calc(50% - 20px);
	background: rgba(255, 255, 255, 0.1);
	padding: 10px;
	border-radius: 10px;
}

.process__card4 {
	position: absolute;
	top: calc(900px + 90px);
	left: 0;
	width: calc(50% - 20px);
	background: rgba(255, 255, 255, 0.1);
	padding: 10px;
	border-radius: 10px;
}

.process__card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 300px;

	p:nth-of-type(1) {
		font-size: 2rem;
	}

	p:nth-of-type(2) {
		align-self: flex-end;
	}

	opacity: 0;
	pointer-events: none;
	transition: all 0.3s;
}

.process__card--active {
	opacity: 1;
	pointer-events: all;
}

@media screen and (width <= 896px) {
	.process__title {
		scroll-margin-top: 85px;
	}
}

@media screen and (width < 860px) {
	.how-it-works__title {
		margin-bottom: 15px;
	}

	.how-it-works__top {
		min-height: calc(100vh - 85px);
	}

	.process-container {
		margin: 85px 0 15px;
	}

	.process__top {
		height: calc(50svh - 85px);
	}

	.process {
		margin: 0;
	}

	.process__card1 {
		right: 0;
		width: calc(100% - 20px);
	}

	.process__card2 {
		left: 20px;
		width: calc(100% - 20px);
	}

	.process__card3 {
		right: 0;
		width: calc(100% - 20px);
	}

	.process__card4 {
		left: 20px;
		width: calc(100% - 20px);
	}
}

@media screen and (width <= 830px) {
	.how-it-works__img {
		max-width: 100%;
	}
}
