.how-it-works {
	display: flex;
	flex-direction: column;
	row-gap: 25px;
	opacity: 0;
	animation: animateHowItWorks 0.5s forwards;
}

@keyframes animateHowItWorks {
	to {
		opacity: 1;
	}
}

.how-it-works__top {
	height: calc(50svh - 95px);
}

.how-it-works__scroll {
	position: absolute;
	bottom: 25px;
	right: 0;
	background: rgba(255, 255, 255, 0.1);
	padding: 10px;
	border-radius: 5px;
	transition: all 0.3s;

	&:hover {
		background: #fff;
		color: #000;
	}
}

.how-it-works__scroll--active {
	opacity: 0;
	pointer-events: none;
}

.process__title {
	font-size: clamp(2rem, 4vw, 4rem);
	font-weight: 600;
}

.process__outer {
	position: relative;
	width: 100%;
	scroll-margin-top: 95px;
}

.process__outer-bottom {
	width: 100%;
	position: absolute;
	height: 50svh;
}

.process {
	position: relative;
	width: 10px;
	min-height: 1290px;
	background: rgba(255, 255, 255, 0.1);
	margin: auto;
	border-radius: 5px;
}

.process__inner {
	position: absolute;
	border-radius: 5px;
	width: calc(100%);
	height: 0%;
	background: white;
}

.process__card1 {
	position: absolute;
	right: 0;
	width: calc(50% - 20px);
	background: rgba(255, 255, 255, 0.1);
	padding: 10px;
	border-radius: 10px;
}

.process__card2 {
	position: absolute;
	left: 0;
	top: calc(300px + 30px);
	width: calc(50% - 20px);
	background: rgba(255, 255, 255, 0.1);
	padding: 10px;
	border-radius: 10px;
}

.process__card3 {
	position: absolute;
	top: calc(600px + 60px);
	right: 0;
	width: calc(50% - 20px);
	background: rgba(255, 255, 255, 0.1);
	padding: 10px;
	border-radius: 10px;
}

.process__card4 {
	position: absolute;
	top: calc(900px + 90px);
	left: 0;
	width: calc(50% - 20px);
	background: rgba(255, 255, 255, 0.1);
	padding: 10px;
	border-radius: 10px;
}

.process__card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 300px;

	p:nth-of-type(1) {
		font-size: 2rem;
	}

	p:nth-of-type(2) {
		align-self: flex-end;
	}

	opacity: 0;
	pointer-events: none;
	transition: all 0.3s;
}

.process__card--active {
	opacity: 1;
	pointer-events: all;
}

@media screen and (width <= 896px) {
	.process__outer {
		scroll-margin-top: 85px;
	}
}

@media screen and (width < 860px) {
	.process__title {
		padding: 15px 0;
	}

	.how-it-works__top {
		height: calc(50svh - 85px);
	}

	.process {
		margin: 0;
	}

	.process__card1 {
		right: 0;
		width: calc(100% - 20px);
	}

	.process__card2 {
		left: 20px;
		width: calc(100% - 20px);
	}

	.process__card3 {
		right: 0;
		width: calc(100% - 20px);
	}

	.process__card4 {
		left: 20px;
		width: calc(100% - 20px);
	}

	.how-it-works__scroll {
		bottom: 15px;
	}
}
