.calculator {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 15px;
	border: 3px dashed #fff;
	border-radius: 10px;
	padding: 15px;
}

.calculator__title {
	font-size: clamp(2rem, 4vw, 4rem) !important;
	color: #fff;
	padding: 25px 0;
	text-align: center;
}

.calculator__inner {
	display: flex;
	gap: 15px;
}

.calculator__inputs-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 5px;
}

.calculator__inputs-top {
	display: flex;
	gap: 5px;
}

.calc__input {
	font-weight: 600;
	border: 3px solid rgba(255, 255, 255, 0.1);
	padding: 10px;
	border-radius: 5px;
	width: 100%;
	transition: border 0.3s;

	&:focus {
		border: 3px solid #fff;
	}
}

.calculator__bottom-wrapper {
	display: flex;
	gap: 15px;
}

.calculator__bottom-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	background: #fff;
	color: #000;
	padding: 15px;
	border-radius: 5px;
}

@media screen and (width < 1000px) {
	.calculator__inner {
		flex-direction: column;
	}

	.calculator__bottom-wrapper {
		flex-direction: column;
	}
}

@media screen and (width < 500px) {
	.calculator__inputs-top {
		flex-direction: column;
		gap: 5px;
	}
}
