h2 {
	font-size: clamp(1.5rem, 5vw, 3rem) !important;
}

h3 {
	font-size: clamp(1.25rem, 4vw, 2rem) !important;
}

.product__section1-title {
	font-size: 1.5rem;
}

.product__section1-container {
	background: rgba(255, 255, 255, 0.1);
	padding: 25px;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	margin-bottom: 25px;

	p {
		font-size: 1.5rem;
	}

	ul {
		margin-top: 25px;
		align-self: flex-end;
		width: 50%;
	}
}

.sect-1 {
	background: rgba(255, 63, 63, 0.504) !important;
}

.sect-2 {
	background: rgba(91, 224, 89, 0.581) !important;
}

.product__top-container {
	min-height: calc(100vh - 95px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.product__top-container-inner {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

@media screen and (width < 896px) {
	.product__section1-container {
		background: rgba(255, 255, 255, 0.1);
		padding: 25px;
		border-radius: 10px;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		margin-bottom: 25px;

		p {
			font-size: 1.5rem;
		}

		ul {
			margin-top: 25px;
			align-self: flex-end;
			width: 100%;
		}
	}
}
