@use "./../../scss/mixins" as *;

.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	min-height: 70px;
	@include flex-center;
	padding: 0 25px;
	opacity: 0;
	animation: animateHeader 0.3s forwards;
	transition: all 0.3s;
}

.header--active {
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	background: rgba(0, 0, 0, 0.1);
}

.header-inner {
	@include flex-between-center;
}

@keyframes animateHeader {
	to {
		opacity: 1;
	}
}

.header__logo {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;

	span {
		font-size: 1.5rem;
	}
}

.header__nav {
	display: flex;
	column-gap: 3px;
}

.header__nav-link {
	padding: 10px;
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.1);
	color: #fff;
	transition: background-color 0.3s, color 0.3s;

	&:hover {
		background: #fff;
		color: #000;
	}
}

.header__nav-link--active {
	background: #fff;
	color: #000;
}

.header__right-container {
	@include flex-center;
	column-gap: 3px;
}

.header__btn {
	@include flex-center;
	column-gap: 3px;
	background: #000;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
}

.header__progress-divider {
	position: absolute;
	bottom: 0;
	width: calc(100% - 50px);
	height: 3px;
	border-radius: 1.5px;
	background: rgba(255, 255, 255, 0.1);
	overflow: hidden;
}

.header__progress-divider-inner {
	width: 0%;
	background: #fff;
	height: 100%;
}

// burger-btn

.burger-btn {
	position: relative;
	width: 40px;
	height: 0px;
	padding: 20px 0;
	display: none;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.burger-btn::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	background: #fff;
	translate: 0 -5px;
	transition: translate 0.5s 0.5s, rotate 0.5s;
}

.burger-btn::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	background: #fff;
	translate: 0 5px;
	transition: translate 0.5s 0.5s, rotate 0.5s;
}

.burger-btn--active::before {
	translate: 0px;
	rotate: 45deg;
	transition: translate 0.5s, rotate 0.5s 0.5s;
}

.burger-btn--active::after {
	translate: 0px;
	rotate: -45deg;
	transition: translate 0.5s, rotate 0.5s 0.5s;
}

// menu

.menu {
	position: fixed;
	top: 70px;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	background: rgba(0, 0, 0, 0.1);
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s;
	overflow: scroll;
}

.menu--active {
	opacity: 1;
	pointer-events: all;
	transition: opacity 0.3s;
}

.menu__inner {
	min-height: calc(100dvh - 70px);
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	row-gap: 30px;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s;
	padding: 0 15px 15px 15px;
}

.menu__inner--active {
	opacity: 1 !important;
	pointer-events: all !important;
	transition: opacity 0.3s 0.6s;
}

.menu__nav {
	display: flex;
	flex-direction: column;
}

.menu__nav-link {
	font-size: 1.5rem;
	border-bottom: 3px dashed rgba(255, 255, 255, 0.1);
	padding: 10px 0;
	transition: border-bottom 0.3s;

	&:hover {
		border-bottom: 3px dashed #fff;
	}
}

.menu__nav-link--active {
	border-bottom: 3px dashed #fff;
}

.menu__link {
	@include flex-center;
	column-gap: 3px;
	background: #000;
	padding: 10px;
	border-radius: 5px;
}

@media screen and (width < 1000px) {
	.burger-btn {
		display: flex;
	}
}

@media screen and (width <= 896px) {
	.header {
		padding: 0 15px;
	}

	.header__progress-divider {
		width: calc(100% - 30px);
	}
}

@media screen and (width < 1000px) {
	.header__nav {
		display: none;
	}

	.header__btn {
		display: none;
	}

	.header__right-container {
		column-gap: 25px;
	}
}

@media screen and (width < 896px) {
	.header__right-container {
		column-gap: 15px;
	}
}

@media screen and (width < 350px) {
	.header__logo {
		span {
			display: none;
		}
	}
}
