@use "./../../scss/mixins" as *;

.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	@include flex-between-center;
	min-height: 70px;
	padding: 0 25px;
	background: var(--bg-clr);
	opacity: 0;
	animation: animateHeader 0.3s forwards;
}

@keyframes animateHeader {
	to {
		opacity: 1;
	}
}

.header__divider {
	position: absolute;
	width: calc(100% - 50px);
	height: 3px;
	bottom: 0;
	border-radius: 1.5px;
	background: rgba(255, 255, 255, 0.1);
	overflow: hidden;
}

.header__divider-inner {
	width: 0%;
	background: #fff;
	height: 100%;
}

.header__logo {
	font-size: 1.5rem;
	@include flex-center;
	gap: 5px;
}

.header__nav {
	display: flex;
	column-gap: 3px;
}

.header__nav-link {
	padding: 10px;
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.1);
	color: #fff;
	transition: all 0.3s;

	&:hover {
		background: #fff;
		color: #000;
	}
}

.header__nav-link--active {
	background: #fff;
	color: #000;
}

.header__nav-link-with-dd {
	position: relative;
}

.header__nav-link-dd {
	position: absolute;
	background: white;
	padding: 5px;
	border-radius: 5px;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 100%);
	color: #000;
	pointer-events: none;
	opacity: 0;

	P {
		&:hover {
			color: var(--bg-clr);
			background: var(--accent-bg-clr);
		}
		padding: 5px;
		border-radius: 2.5px;
	}
}

.header__btn {
	@include flex-center;
	gap: 5px;
	background: rgba(0, 0, 0);
	padding: 10px;
	border-radius: 5px;
	color: #fff;
}

.header__right-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2px;
}

.lng-select {
	// padding: 10px;
	width: 40px;
	display: grid;
	place-content: center;
	background: white;
	color: #000;
	border-radius: 5px;
	aspect-ratio: 1/1;

	&:hover {
	}
}

.socials {
	display: flex;
	flex-direction: column;
	a {
		color: #fff;
	}
}

@media screen and (width <= 896px) {
	.header {
		padding: 0 15px;
	}

	.header__divider {
		width: calc(100% - 30px);
	}

	.header__nav {
		// display: none;
	}

	.header__btn {
		// display: none;
	}
}

@media screen and (width < 800px) {
	.header__nav {
		display: none;
	}

	.header__btn {
		display: none;
	}
}
