@use "./../../scss/mixins" as *;

.partners {
	min-height: calc(100svh - 70px);
	border-radius: 10px;
	display: flex;
	align-items: center;
	margin-top: 100px;
	scroll-margin-top: 70px;
}

.partners__title-container {
	width: 50%;
}

.partners__title {
	text-align: center;
	font-size: clamp(2rem, 4vw, 4rem) !important;
	font-weight: 500;
	padding: 25px 0;
}

.partners__container {
	width: 50%;
	@include flex-center;
}

.partners__grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 7.5px;
	width: 70%;

	a {
		aspect-ratio: 1/1;
		border-radius: 10px;
		@include flex-center;
		background: rgba(255, 255, 255, 0.1);
		transition: background-color 0.3s;

		&:hover {
			background: rgba(255, 255, 255);
		}
	}

	img {
		width: 50%;
	}
}

@media screen and (max-width: 807px) {
	.partners {
		flex-direction: column;
	}

	.partners__title-container {
		width: 100%;
	}

	.partners__container {
		width: 100%;
		@include flex-center-start;
	}

	.partners__title {
		padding: 15px 0;
	}
}

@media screen and (width <= 600px) {
	.partners__grid {
		width: 100%;
	}
}
