input[type="checkbox"] {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	flex-shrink: 0;
	background: rgba(255, 255, 255, 0.1);
	border: 3px solid white;
	transition: all 0.3s;
	border-radius: 5px;

	-webkit-tap-highlight-color: transparent;
	user-select: none;

	&:checked {
		// -webkit-appearance: none;
		// appearance: none;
		background: #fff;
	}
}
