@use "./scss/reset";
@use "./scss/variables";
@use "./scss/fonts";

::-webkit-scrollbar {
	display: none;
}

body {
	color: #ffffff;
	font-family: "Outfit", sans-serif;
	background: var(--bg-clr);
}

a {
	color: #fff;
}

h1 {
	padding-top: 70px;
}
