@use "reset";
@use "variables";
@use "fonts";

::-webkit-scrollbar {
	display: none;
}

body {
	font-family: "Outfit", sans-serif;
	color: #fff;
	background: var(--bg-clr);
	// padding: 95px 25px 25px 25px;
}

a {
	color: #fff;
}

@media screen and (width <= 896px) {
	body {
		// padding: 85px 15px 15px 15px;
	}
}
