@use "reset";
@use "variables";
@use "fonts";

::-webkit-scrollbar {
	display: none;
}

body {
	color: #ffffff;
	font-family: "Outfit", sans-serif;
	background: var(--bg-clr);
	padding: 95px 25px 25px 25px;
}

a {
	color: #fff;
}

@media screen and (width <= 896px) {
	body {
		padding: 85px 15px 15px 15px;
	}
}
