@use "./../../scss/mixins" as *;

.lng-select {
	position: relative;
	z-index: 100;
}

.lng-select__btn {
	@include flex-center;
	column-gap: 5px;
	padding: 10px;
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.1);
}

.lng-select__btn-icon {
	pointer-events: none;
	transition: transform 0.3s;
}

.lng-select__btn-icon--active {
	transform: rotateX(180deg);
}

.lng-select__btn-value {
	pointer-events: none;
}

.lng-select__list {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	min-width: 100%;
	padding: 5px;
	border-radius: 5px;
	background: #fff;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
	margin-top: 3px;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s;
}

.lng-select__list--visible {
	opacity: 1;
	pointer-events: all;
}

.lng-select__option {
	@include flex-center;
	padding: 10px;
	border-radius: 2.5px;
	color: #000;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;

	&:hover {
		background: var(--accent-bg-clr);
		color: var(--bg-clr);
	}
}

.lng-select__option--active {
	background: var(--accent-bg-clr);
	color: var(--bg-clr);
}
