@use "./../../scss/mixins" as *;

.form-calculator {
	border: 3px dashed white;
	padding: 15px;
	border-radius: 10px;
	@include flex-start-center;
	flex-direction: column;
}

.form-calculator__title {
	font-size: clamp(2rem, 4vw, 4rem) !important;
	font-weight: 400;
	color: #fff;
	margin-bottom: 20px;
}

.form {
	width: 50%;
	display: flex;
	flex-direction: column;
	row-gap: 15px;
}

.form-calculator__form-container {
	border: 3px solid rgba(255, 255, 255, 0.1);
	padding: 10px;
	border-radius: 5px;
	width: 100%;
}

.form-calculator__range-container {
	display: flex;
	gap: 15px;
}

.form-calculator__input-container {
	display: flex;
	// flex-direction: column;
	align-items: center; /* center horizontally */
	// justify-content: center; /* center vertically */
	gap: 0.5rem; /* space between input and label */
	// text-align: center;

	label {
		// display: grid;
	}
}

.form-calculator__input {
	border: 3px solid rgba(255, 255, 255, 0.1);
	border-radius: 5px;
	padding: 10px;
	width: 100%;
	transition: all 0.3s;

	&:focus {
		border: 3px solid #fff;
	}
}

.form-calculator__input-text-container {
	display: flex;
	flex-direction: column;
	row-gap: 5px;
}

.form-calculator__btn {
	background: #000;
	padding: 10px;
	border-radius: 5px;
	align-self: flex-end;
}

@media screen and (width < 900px) {
	.form {
		width: 75%;
	}
}

@media screen and (width < 8960px) {
	.form-calculator__range-container {
		flex-direction: column;
	}
}

@media screen and (width < 600px) {
	.form {
		width: 100%;
	}
}
